bert-score==0.3.13
bitsandbytes==0.43.1
numpy==1.26.4
scipy==1.15.3
pandas==2.2.3
matplotlib==3.10.3
networkx==3.3
scikit-learn==1.6.1
ripser==0.6.12
gudhi==3.11.0
peft==0.15.0
persim==0.3.8
torch==2.2.2+cu121
torchvision==0.17.2+cu121
transformers==4.50.1
datasets==3.4.1
evaluate==0.4.3
wandb==0.19.8
rouge_score==0.1.2
tqdm==4.67.1
accelerate==1.6.0
huggingface-hub==0.31.1
tokenizers==0.21.1